.container {
    max-width: 1264px;
    padding: 0 10px;
    margin: 0 auto;
    outline: 1px solid red;
}

.header-container {
    display: flex;
    align-items: center;
    background: #FEFCF7;
    padding: 20px;
    border-radius: 60px;
}

.header{
    padding-top: 20px;
}
.header_list{


    display: none;
}

.header-logo{
    color: #161616;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
align-items: center;
gap: 12px;
}
.header-leaf{
    width: 24.0px;
height: 26.0px;

}

.header-btn {
    background-color: transparent;
    border: none;
    margin-left: auto;
}
.header_items{
    display: none;
}
.header-menu{
    width: 24.0px;
height: 24.0px;

}


.hero_h2{
    align-self: stretch;
 color:#161616;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 110%;
margin-top: 20px;
margin-bottom: 20px;

}
.hero_p{
    align-self: stretch;
color:#454444;
text-align: center;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 20px;

}
.hero_btn{
  display: flex;
padding: 14px 18px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 100px;
background:#161616;
color:#FFF;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;


}
.galery{
    background: #FAFAFA;
}
.galery_h2{
    align-self: stretch;
color:#161616;
text-align: center;
font-size: 26px;
font-weight: 600;
line-height: 120%;
padding-top: 40px;
margin: 0px 20px 12px;

}
.galery_p{
    align-self: stretch;
color: #161616;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: normal;
margin-bottom: 40px;
margin-right: 20px;
margin-left: 20px;
}
.galery_div{
    display: flex;
padding: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 16px;
background:#D3F5FE;
margin: 20px    ;
}
.Gli_h3{
    align-self: stretch;
color:#161616;
text-align: center;
font-size: 18px;
font-weight: 700;
line-height: normal;
}
.Gli_p{
    align-self: stretch;
color: #454444;
text-align: center;
font-size: 14px;
font-weight: 500;
line-height: normal;
}
.galery_li:last-child{
    margin: 20px 0px 40px;
}
@media (min-width: 382px ) {
    .container {
        width: 382px;
    }
}
@media (min-width: 1264px ) {
.container {
width: 1264px;
padding: 0 12px;
}

.header-container{
    padding: 24px 40px ;
}

.header {
padding-top: 40px;
}

.header-btn {
display: none;
}

.header_list {
display: flex;
margin-right: auto;
gap: 32px;
}
.header_link{
        color: #161616;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.header_items{
    display: flex;
    margin-left: auto;
    gap: 32px;
}
.header_contact{
    color:#161616;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.header_elem:last-child{
    .header_contact{
        padding: 8px 14px;
        border-radius: 100px;
border: 1px solid #161616;
    }
}

.hero_ul{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.hero_li{
    margin-top: 80px;
    margin-bottom: 40px;
    
}
.hero_h2{
    font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 110%;
margin-top: 0px;
}
.hero_p{font-size: 24px;
font-style: normal;
font-weight: 500;}

.textik{
    display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;

}
.textik_li{
    padding-top: 80px;
}
.galery_h2{
    padding: 0;
    color:#161616;
font-size: 48px;
font-weight: 700;
line-height: 120%;

}
.galery_p{
    color: #161616;
font-size: 24px;
font-weight: 500;

}
.galery_ul{
    display: flex;
align-items: flex-start;
gap: 24px;
align-self: stretch;

}

}